// place your custom styles here
#app {
  //css变量覆盖
  --theme-color-light: #fba56f;
  --theme-color-dark: #fba56f;

  .blog-page-wrapper {
    flex-direction: row-reverse;

    .vp-blog-info-wrapper {
      margin-inline-start: 0;
      margin-inline-end: 1rem;
    }
  }
  .vp-blog-hero-image {
    border-radius: 200px;
  }
  .vp-catalog-child-title {
    color: blue;
  }
  .vp-catalog-sub-title {
    color: var(--theme-color);
  }
}
